extends layouts/main-layout.pug

block content 
    main 
        if prods.length > 0
            each product in prods
                article     
                    header
                        h1 #{product.title}
                    div 
                        img(src="", alt="A book")
                    div 
                        h2 #{product.price}
                        p #{product.description}
                    div 
                        button Add to cart
        else
            h1 No products
