doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shop
        link(rel="stylesheet", href="/css/main.css")
    body
        header
            nav 
                ul 
                    li
                        a(href="/") Shop
                    li
                        a(href="/admin/add-product") Add product
    main 
        if prods.length > 0
            each product in prods
                article     
                    header
                        h1 #{product.title}
                    div 
                        img(src="", alt="A book")
                    div 
                        h2 #{product.price}
                        p #{product.description}
                    div 
                        button Add to cart
        else
            h1 No products
